* {
    font-family: sans-serif;
    text-decoration: none;
    color: #154360;
}
.container{
  display: flex;
  justify-content: center;
}
.container form{
  background-color:#C9D6DD ;
  padding: 40px;
  border-radius: 40px;
}
.container input{
  border: 2px solid #EEF4F8;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  height: 30px;
}
.container button{
  border: 1px solid;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: #154360;
}
.container button:hover{
  cursor: pointer;
  background-color: #B7D4E5;
  color: black;
}
.button{  
  display: flex;
  justify-content: flex-end;
}
.Home{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.Cards{
  margin: 10px;
  border: 1px solid #154360;
  padding: 20px;
  border-radius: 5px;
}
.img_produto{
  background-color: black;
  height: 100px;
}
.Cards p{
  margin: 10px;
}
.Cards:hover{
  cursor: pointer;
  background-color: #C9D6DD;
}
.Menu{
  display: flex;
  justify-content: space-between;
}