* {
    font-family: sans-serif;
    text-decoration: none;
    color: #154360;
}
.container{
  display: flex;
  justify-content: center;
}
.container form{
  background-color:#C9D6DD ;
  padding:  5px 20px 5px 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.container input{
  border: 2px solid #EEF4F8;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  height: 30px;
}
.container button{
  border: 1px solid;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: #154360;
}
.container button:hover{
  cursor: pointer;
  background-color: #B7D4E5;
  color: black;
}
.button{  
  display: flex;
  justify-content: flex-end;
}
.buttonNew{  
  display: flex;
  justify-content:center;
}
.buttonNew:hover{
  cursor: pointer;
  color: black;
  font-size: 20px;
}
.Home{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.Cards{
  margin: 20px 10px 20px 10px;
  border: 1px solid #154360;
  border-radius: 5px;
}
.img_produto{
  background-color: black;
  height: 150px;
}
.Cards p{
  margin: 10px;
  font-weight: bold;

}
.Cards:hover{
  cursor: pointer;
  background-color: #C9D6DD;
  margin: 1%;
}
.Menu{
  display: flex;
  justify-content: space-between;
  background-color: #154360;
  padding:  0 20px 0 20px;
}

.Menu p{
  color: white;
  font-size: 20px;
}
.Menu p:hover{
  cursor: pointer;
  background-color: #B7D4E5;
  color: black;
  padding: 0 2px 0 2px;
}